# Set the default handler.
 DirectoryIndex index.php

RewriteEngine On 
# Include in httpd.conf, virtual host config or .htaccess. 
# If not in .htaccess, remember that it needs to be within a <Directory> tag.
# Checks to see if the user is attempting to access a valid file,
# such as an image or css document, if this isn't true it sends the
# request to index.php
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# For PHP, the following should be index.php
# If you're using Neko, it should be index.n
#
RewriteRule ^(.*)$ index.php/$1 [L,QSA]